<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Manage your images!</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <div class="wrapper">
            <table class="catalogue">
                <tbody>
                    <tr>
                        <ui:repeat var="image" value="#{imageController.allImages}" varStatus="status">
                        <td class="catalogbox">
                            <h:link class="catalogue" outcome="image_detail">
                            <f:param name="index" value="#{image.id}" />
                                <section>
                                    <h:graphicImage value="#{image.url}" class="cata_thumb" alt="thumb" />
                                    <h3 class="catalogue">#{image.title}</h3>
                                    <h:link value="Edit " outcome="edit_image">
                                        <f:param name="index" value="#{image.id}" />
                                    </h:link>
                                    <h:link value="Delete" outcome="delete_image">
                                        <f:param name="index" value="#{image.id}" />
                                    </h:link>
                                </section>
                            </h:link>
                        </td>
                        <h:outputText value="&lt;/tr&gt;&lt;tr&gt;" escape="false" rendered="#{status.index%3==2}" />  
                    </ui:repeat>
                    </tr>
                </tbody>
            </table>
            <section><h2><h:link value="Check Cloudinary status" outcome="admin_information" /></h2></section>
        </div>    

    </h:body>
</html>

