<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Manage your images!</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <div class="wrapper">
            <section>
                <h2>Cloudinary usage:</h2>
                #{imageController.cloudinaryInformation}
            </section>
        </div>    

    </h:body>
</html>

