<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <f:metadata>
        <f:viewAction action="#{imageController.loadImageById(param.index)}"/>
    </f:metadata>
    <h:head>
        <title>Delete Image</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            <section>
                <h3 class="imagebox">#{imageController.image.title}</h3>
                <h:panelGroup class="imagebox" layout="block">
                    <h:graphicImage value="#{imageController.image.url}" class="small_image" alt="image" />
                </h:panelGroup>
                <br />
                <h:panelGroup class="imageInfo" layout="block">
                    <h3><strong>Author: </strong>#{imageController.image.account.username}</h3>
                    <p>
                        <h:outputText value="#{imageController.image.uploadDate}" >
                            <f:convertDateTime pattern="MM-dd-yyyy HH:mm" />
                        </h:outputText> 
                    </p>
                    <p>
                        #{imageController.image.details}
                    </p>
                    <h:form>
                        <p>Are you sure you want to delete this image?</p>
                        <h:commandButton value="Delete" action="#{imageController.deleteImage()}"/>
                        &nbsp;&nbsp;
                        <h:button value="Cancel" outcome="manage_image"/>
                    </h:form>
                </h:panelGroup>
            </section>
        </h:panelGroup>    
    </h:body>
</html>

