<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <f:metadata>
        <f:viewAction action="#{imageController.loadImageById(param.index)}"/>
    </f:metadata>
    <h:head>
        <title>Edit Image</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <div class="wrapper">
            <section><h2>Edit your image information</h2></section>
            <section>
                <h3 class="imagebox">#{imageController.image.title}</h3>
                <div class="imagebox">
                    <h:graphicImage value="#{imageController.image.url}" class="small_image" alt="image" />
                </div>
                
                <br />
		<div class="imageInfo">
		<!--<h2> Upload new photo </h2>-->
                <br />
                <h:form id="uploadForm">
                    <h:panelGrid columns="2" class="submit_box">
                        <h:panelGroup>
                            <strong>Author: </strong>
                        </h:panelGroup>
                        <h:panelGroup>
                            <h3>#{imageController.image.account.username}</h3>
                        </h:panelGroup>

                        <h:panelGroup>
                            Title: 
                            <h:panelGroup class="compulsory">*</h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup>
                            <h:inputText id="title" value="#{imageController.image.title}"
                                         validatorMessage="Please input image title." />
                            <h:messages class="compulsory" for="title"/>
                        </h:panelGroup>

                        <h:panelGroup>Details: </h:panelGroup>
                        <h:panelGroup>
                            <h:inputTextarea id="details" value="#{imageController.image.details}" rows="8" cols="50" />
                            <h:messages class="compulsory" globalOnly="true"/>
                        </h:panelGroup>

                        <h:panelGroup></h:panelGroup>
                        <h:panelGroup>
                            <h:commandButton value="Submit" action="#{imageController.updateImage}"/>
                            &nbsp;&nbsp;
                            <h:button value="Cancel" outcome="manage_image"/>
                        </h:panelGroup>

                    </h:panelGrid>        
                </h:form>           
            </div>
            </section>	
        </div>    
        
    </h:body>
</html>

