<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{accountController.loadCurrentAccount}"/>
    </f:metadata>
    <h:head>
        <title>Edit Account</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            <section class="loginForm">
                <h:panelGroup class="imageInfo" layout="block">
                    <h2>Editing Account Information</h2>
                    <h:form>
                        <h:panelGrid columns="2" class="submit_box">
                            <h:panelGroup>
                                Username: 
                                <h:panelGroup class="compulsory">*</h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText 
                                    id="username" 
                                    value="#{accountController.account.username}"
                                    validatorMessage="Please input your username." readonly="true"/>
                                <h:messages class="compulsory" for="username"/>
                            </h:panelGroup>

                            <h:panelGroup>Full name: </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText value="#{accountController.account.fullname}"/>
                            </h:panelGroup>

                            <h:panelGroup>
                                Email: 
                                <h:panelGroup class="compulsory">*</h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText id="email" 
                                             value="#{accountController.account.email}"
                                             requiredMessage="Please enter your email address."
                                             validatorMessage="Invalid email format.">
                                    
                                    <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                </h:inputText>
                                <h:messages class="compulsory" for="email"/>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:messages globalOnly="true" class="compulsory"/>
                        <h:commandButton value="Save Changes" action="#{accountController.updateAccount}"/>
                    </h:form>
                    <br />
                </h:panelGroup>
            </section>
        </h:panelGroup>  
    </h:body>
</html>

