<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <f:metadata>
        <f:viewAction action="#{imageController.loadImageById(param.index)}"/>
    </f:metadata>
    <h:head>
        <title>Image</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <div class="wrapper">
            <section>
                <h3 class="imagebox">#{imageController.image.title}</h3>
                <div class="imagebox">
                    <h:graphicImage value="#{imageController.image.url}" class="small_image" alt="image" />
                </div>
                
                <br />
                <div class="imageInfo">
                    <h3><strong>Author: </strong>#{imageController.image.account.username}</h3>
                    <p>
                        <h:outputText value="#{imageController.image.uploadDate}" >
                            <f:convertDateTime pattern="MM-dd-yyyy HH:mm" />
                        </h:outputText> 
                    </p>
                    <p>
                        #{imageController.image.details}
                    </p>
                </div>
            </section>
        </div>    
        <!--<h:outputScript library="js" name="jquery-2.1.1.min.js" />-->
        <!--<h:outputScript library="js" name="sticky-header.js" />-->
        <!--<h:outputScript library="js" name="comment-check.js" />-->
    </h:body>
</html>

