<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Welcome!</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body>
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            <table class="catalogue">
                <tbody>
                    <tr>
                        <ui:repeat var="image" value="#{imageController.allImages}" varStatus="status">
                            <td class="catalogbox">
                                <h:link class="catalogue" outcome="image_detail">
                                    <f:param name="index" value="#{image.id}" />
                                    <section>
                                        <h:graphicImage value="#{image.url}" class="cata_thumb" alt="thumb" />
                                        <h3 class="catalogue">#{image.title}</h3>
                                    </section>
                                </h:link>
                            </td>
                            <h:outputText value="&lt;/tr&gt;&lt;tr&gt;" escape="false" rendered="#{status.index%3==2}" />  
                        </ui:repeat>
                    </tr>
                </tbody>
            </table>
        </h:panelGroup>    
        <h:outputScript library="js" name="jquery-3.1.1.min.js" />
        <h:outputScript library="js" name="sticky-header.js" />
    </h:body>
</html>

