<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <title>Login</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            <section class="loginForm">
                <h:panelGroup class="imageInfo" layout="block">
                    <h2>Login</h2>
                    <h:form>
                        <h:panelGrid columns="2" class="submit_box">
                            <h:panelGroup>Username: </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText 
                                    id="username" 
                                    value="#{accountController.account.username}"
                                    validatorMessage="Please input your username." 
                                    validator="#{accountController.validateLoginName}"/>
                                <h:messages for="username" class="compulsory"/>
                            </h:panelGroup>

                            <h:panelGroup>Password: </h:panelGroup>
                            <h:panelGroup>
                                <h:inputSecret 
                                    id="password" 
                                    value="#{accountController.account.password}"
                                    validatorMessage="Please input your password." />
                                <h:messages for="password" class="compulsory"/>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:messages globalOnly="true" class="compulsory"/>
                        <h:commandButton class="loginButton" value="Login" action="#{accountController.login}"/>&nbsp;&nbsp;
                        <h:button class="loginButton" value="Register" outcome="register"/>
                        <!--h:button value="Forgot Password" outcome="forgot_password"/-->
                    </h:form>
                </h:panelGroup>  
            </section>
        </h:panelGroup>    
    </h:body>
</html>
