<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Logout...</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="username" value="#{request.userPrincipal}" />
            <f:viewAction action="#{accountController.logout}" />
        </f:metadata>
    </h:body>
</html>

