<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Register</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            <section class="loginForm">
                <h:panelGroup class="imageInfo" layout="block">
                    <h2>Register</h2>
                    <h:form>
                        <h:panelGrid columns="2" class="submit_box">
                            <h:panelGroup>
                                Username: 
                                <h:panelGroup class="compulsory">*</h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText 
                                    id="username" 
                                    value="#{accountController.account.username}"
                                    validator="#{accountController.validateRegisterName}">
                                    <f:ajax event="blur" execute="@this" render="username_error"/>
                                </h:inputText>
                                <h:messages id="username_error" class="compulsory" for="username"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                Password: 
                                <h:panelGroup class="compulsory">*</h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputSecret 
                                    id="password" 
                                    value="#{accountController.account.password}"
                                    validatorMessage="Please input your password." >
                                    <f:ajax event="blur" execute="@this" render="password_error"/>
                                </h:inputSecret>
                                <h:messages id="password_error" class="compulsory" for="password"/>
                            </h:panelGroup>

                            <h:panelGroup>Full name: </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText id="fullname" value="#{accountController.account.fullname}" >
                                    <f:ajax event="blur" execute="@this" render="fullname_error"/>
                                </h:inputText>
                            </h:panelGroup>

                            <h:panelGroup>
                                Email: 
                                <h:panelGroup class="compulsory">*</h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText id="email" 
                                             value="#{accountController.account.email}"
                                             requiredMessage="Please enter your email address."
                                             validatorMessage="Please input correct email">
                                    <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                    <f:ajax event="blur" execute="@this" render="email_error"/>
                                </h:inputText>
                                <h:messages id="email_error" class="compulsory" for="email"/>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:messages globalOnly="true" class="compulsory"/>
                        <h:commandButton value="Register" action="#{accountController.register}">
                            <f:ajax execute="username" render="username_message" />
                        </h:commandButton>
                    </h:form>
                    <br />
                </h:panelGroup>
            </section>
        </h:panelGroup>  
    </h:body>
</html>

