<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{accountController.loadResetPasswordCombination(param.username, param.hash)}"/>
    </f:metadata>
    <h:head>
        <title>Reset Password</title>
        <h:outputStylesheet library="css" name="style.css" />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            <section class="loginForm">
                <h:panelGroup class="imageInfo" layout="block">
                    <h2>Reset Password</h2>
                    <h:form>
                        <h:panelGrid columns="2" class="submit_box">
                            <h:panelGroup>
                                New Password: 
                                <h:panelGroup class="compulsory">*</h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputSecret 
                                    id="password" 
                                    value="#{accountController.account.password}"
                                    validatorMessage="Please input your new password." />
                                <h:messages class="compulsory" for="password"/>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:messages globalOnly="true" class="compulsory"/>
                        <h:commandButton value="Save" action="#{accountController.resetPassword()}"/>
                    </h:form>
                    <br />
                </h:panelGroup>
            </section>
        </h:panelGroup>  
    </h:body>
</html>

