<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Reset Password Email</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body>
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            
            <h:outputText value="A password reset message has been sent to your registered email.
                          Please use the link provided to reset your password."/>
            
        </h:panelGroup>    
        <h:outputScript library="js" name="jquery-3.1.1.min.js" />
        <h:outputScript library="js" name="sticky-header.js" />
    </h:body>
</html>

