<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <title>Upload new image!</title>
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body class="sticky-header">
        <header>
            <h1>Welcome To My Picture Gallery<br /></h1>
            <nav><ui:include src="/resources/navlink.xhtml" /></nav>
        </header>
        <h:panelGroup class="wrapper" layout="block">
            <section><h2>Upload your new image</h2></section>
            <section>
                <h:panelGroup class="imageInfo" layout="block">
                    <br />
                    <h:form id="uploadForm" enctype="multipart/form-data">
                        <h:panelGrid columns="2" class="submit_box">

                            <h:panelGroup>
                                Title: 
                                <h:panelGroup class="compulsory">*</h:panelGroup>
                            </h:panelGroup>
                            
                            <h:panelGroup>
                                <h:inputText id="title" value="#{imageController.image.title}"
                                             validatorMessage="Please input image title." />
                                <h:messages class="compulsory" for="title"/>
                            </h:panelGroup>
                            
                            <h:panelGroup>Details: </h:panelGroup>
                            <h:panelGroup>
                                <h:inputTextarea id="details" value="#{imageController.image.details}" rows="8" cols="50" />
                            </h:panelGroup>

                            <h:panelGroup>Select image </h:panelGroup>
                            <h:panelGroup>
                                <h:inputFile id="imageFile" value="#{imageController.imageFile}" validator="#{imageController.imageValidate}">
                                </h:inputFile>
                                <h:messages class="compulsory" for="imageFile"/>
                            </h:panelGroup>
                            
                            <h:panelGroup></h:panelGroup>
                            <h:panelGroup>
                                <h:commandButton value="Submit" action="#{imageController.uploadNewImage}"/> 
                            </h:panelGroup>

                        </h:panelGrid>        
                    </h:form>      
                </h:panelGroup>
            </section>	
        </h:panelGroup> 
    </h:body>
</html>

