<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head />
    <h:body>
        <ui:composition>
            <h:link value="Home" outcome="index" />

            <h:panelGroup rendered="#{request.isUserInRole('Users')}">
                <h:link value="Upload Image" outcome="upload_image" />
                <h:link value="My Images" outcome="manage_image" />
                <h:link value="My Profile" outcome="edit_account" />
                <h:link value="Logout" outcome="logout" />
            </h:panelGroup>
            <h:panelGroup rendered="#{request.isUserInRole('Admins')}">
                <h:link value="Upload Image" outcome="upload_image" />
                <h:link value="My Images" outcome="manage_image" />
                <h:link value="My Profile" outcome="edit_account" />
                <h:link value="Admin" outcome="admin_manage" />
                <h:link value="Logout" outcome="logout" />
            </h:panelGroup>
            <h:panelGroup rendered="#{request.userPrincipal==null}">
                <h:link value="Login" outcome="login" />
                <h:link value="Register" outcome="register" />
            </h:panelGroup>
        </ui:composition>  
    </h:body>
</html>

