/* 
    Created on : Aug 29, 2016, 7:53:48 PM
    Author     : Yihao Jiang
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    padding-top: 330px;
    -moz-transition: padding-top 0.5s ease;
    -o-transition: padding-top 0.5s ease;
    -webkit-transition: padding-top 0.5s ease;
    transition: padding-top 0.5s ease;
}

header {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
header h1 {
    font-size: 42px;
    color: #fff;
    line-height: 230px;
    font-weight: 100;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
header nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
header nav a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
header nav a:hover {
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

h2 {
    font-size: 34px;
    font-weight: 100;
    line-height: 2;
    color: #2c3e50;
}

p {
    margin-bottom: 1rem;
    line-height: 2;
    color: #7f8c8d;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 250px;
}

section {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
section.loginForm {
    margin-left: 80px;
    margin-right: 80px;
}
/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
    padding-top: 100px;
}
body.sticky-header header {
    height: 60px;
    background-color: rgba(52, 152, 219, 0.9);
}
body.sticky-header header h1 {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}
/* ---------------------------------------- */
h2.activity{
    text-align:center;
    font-family: 'Pacifico', cursive;
}
div.activity{
    margin:10px;
    text-align:center;
}
strong{
    font-weight: bold;
}

.compulsory{
    color:red;
}
.imagebox{
    width:100%;
    text-align: center;
}

h3.imagebox{
    font-weight: bold;
    font-size: 24px;
}
.big_image{
    margin-top: 50px;
    max-width: 800px;
    max-height: 1000px;
}
.small_image{
    margin-top: 20px;
    max-width: 700px;
    max-height: 1000px;
}
.imageInfo{
    margin-left:30px;
    margin-right:30px;
}

table.catalogue{
    margin:25px;
}

.catalogbox{
    padding-left:25px;
    padding-right:25px;
    width: 200px;
    height: 200px;
}
table.submit_box {
    border-collapse: separate;
    border-spacing: 4px;
}
table.submit_box tr td{
    height: 30px;
    vertical-align: top; 
}
h3.catalogue{
    font-weight: bold;
    text-align: center;
    width:160px;
    margin-top:6px;
}
a.catalogue{ 
    color:#000000;
    text-decoration: none;
}

input.new_catalog{
    width:160px;
}

.cata_thumb{
    width: 160px;
    max-height: 200px;
    text-align: center;
}
div.footer{
    margin-bottom:300px;
}
.loginButton{
    width: 80px;
}